* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  margin-left: 3rem;
}

.initials {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background-color: #e6f0d6;
  justify-items: center;
  padding: 1rem 0;
}

.initials img {
  width: 6rem;
}

.header {
  background: #e6f0d6;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.header .col2 {
  justify-items: center;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.header .col2 h1 {
  word-wrap: normal;
  text-align: center;
  font-size: 4rem;
}

.header .col2 .signature {
  height: 1.5rem;
  margin-left: auto;
  margin-right: 0.3rem;
}

.header .col2 .button {
  margin-top: 2rem;
}

.col2 .button {
  background: #ff9a81;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.img1,
.img2,
.img3 {
  width: 30vw;
}

.col3 {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: auto;
}

.col3 .headline {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col3 .img2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  text-align: right;
}

.headline {
  width: 85%;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  font-size: 4vw;
  margin: 3rem 0;
}

.headline .signature {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 /3;
  text-align: left;
  width: 90%;
}

.headline q {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 3.5rem;
}

.headline .signature img {
  width: 40vw;
  height: 1.5rem;
  display: block;
  margin-right: 3rem;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.headline img {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  margin-left: auto;
  width: 6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.article {
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 1rem;
}

.article2 p:nth-child(3) {
  margin-bottom: 1rem;
}

.article img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .initials img {
    width: 4rem;
  }
  .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header .col2 .signature {
    width: 90%;
  }
  .headline .signature {
    place-self: center;
    font-size: 1.5rem;
    text-align: center;
  }
  .headline .signature img {
    width: 50vw;
  }
  .headline q {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    font-size: 1.3rem;
  }
  .headline img {
    width: 4rem;
    margin-right: 1rem;
  }
  .img1,
  .img2,
  .img3 {
    width: 100%;
  }
  .header .col2 {
    justify-items: center;
    margin: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .col3 .img2 {
    position: static;
    width: 100%;
    text-align: right;
  }
  .col3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 100%;
    padding: 1rem;
  }
  .col1 .img1 {
    position: relative;
  }
  .col1 {
    padding: 1rem;
  }
  .main {
    margin: 0;
  }
  .header .col2 h1 {
    font-size: 3rem;
  }
  .article {
    margin: 0 1rem;
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */